<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ParkingLiteEntities" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/Model.ParkingLite.csdl|res://*/Model.ParkingLite.ssdl|res://*/Model.ParkingLite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost,1433;initial catalog=ParkingLiteDB;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Parking.Core.Model.ParkingLiteEntities, Parking.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ParkingLiteEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.ParkingLite.csdl|res://*/Model.ParkingLite.ssdl|res://*/Model.ParkingLite.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Model.ParkingLite.csdl|res://*/Model.ParkingLite.ssdl|res://*/Model.ParkingLite.msl;provider=System.Data.SqlClient;provider connection string="data source=localhost,1433;initial catalog=ParkingLiteDB;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework"'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>